@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background: linear-gradient(180deg, #301f7a 0%, #301f7a 100%);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container {
  max-width: 600px;
  margin: 0 auto;
  padding: 56px;
  background: #442cab;
  border-radius: 16px;
}
footer {
  padding-top: 36px;
}
