@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background: linear-gradient(180deg, #301f7a 0%, #301f7a 100%);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container {
  max-width: 600px;
  margin: 0 auto;
  padding: 56px;
  background: #442cab;
  border-radius: 16px;
}
footer {
  padding-top: 36px;
}

/* Gradients */

.orange-gradient {
  background: linear-gradient(180deg, #f89c3b 0%, #f85690 100%);

  border-radius: 10px;
}
.orange-gradient:hover {
  box-shadow: 0px 4px 8px #882c46;
}
.green-gradient {
  background: linear-gradient(180deg, #2cd57c 0%, #249fec 100%);

  border-radius: 10px;
}
.green-gradient:hover {
  box-shadow: 0px 4px 8px #0b4161;
}

/* Typography */
h1 {
  font-weight: bold;
  font-size: 36px;
}
p {
  color: #9a85f2;
}
